CONFIGURATION SYNTAX

  configuration:=
    private_interface { <interface> }
    public_interface { <interface> }
    private_ip4 <ipv4addr>;
    public_ip4 <ipv4addr>;
    private_nexthop_ip4 <ipv4addr>;
    public_nexthop_ip4 <ipv4addr>;
    [ route { <route> } ]*
    [ negotiation_ttl <seconds>; ]
    [ sa_ttl <seconds>; ]

  interface:=
    macaddr <hwaddr>;
    [ vlan <tag>; ]
    [ mtu <size>; ]
    pciaddr <busaddr>;
    [ vmdq true; ]

  route:=
    id <string>;
    net_cidr4 <ipv4prefix>;
    gw_ip4 <ipv4addr>;
    preshared_key <string>;

NOTES

  A Vita configuration defines a private and a public network interface, the
  gateway’s own private (local) and public IP addresses, the IP addresses of
  the private and public next hops respectively, and a set of routes to other
  Vita nodes.

  Each interface is identified by an Ethernet address (MAC), and assigned a
  Linux PCI bus address. Optionally, the MTU can be specified in bytes, and an
  IEEE 802.1Q VLAN Identifier can be set. It is possible to pass the same PCI
  bus address for both interfaces, so that they share a single physical port.
  It may be necessary do enable VMDq for some devices, i.e. to use virtualized
  private and public interfaces on a single physical port, or even in order to
  configure an Ethernet address.

  Each route is given a human readable identifier that can be used for
  documentation purposes. This identifier has no other bearing. The destination
  IPv4 subnet and gateway are specified with an IPv4 prefix in CIDR notation,
  and an IPv4 address respectively. Finally, each route is assigned a unique,
  preshared 256-bit key, encoded as a hexadecimal string (two digits for each
  octet, most significant digit first).

  While the default configuration should be generally applicable, negotiation
  timeout and the lifetime of security associations can be specified in
  seconds.

EXAMPLE

  private_interface { macaddr 52:54:00:00:00:00; mtu 1280; pciaddr 0c:00.0; }
  public_interface { macaddr 52:54:00:00:00:FF; pciaddr 0c:00.1; }

  private_ip4 192.168.10.10;
  public_ip4 203.0.113.1;

  private_nexthop_ip4 192.168.10.1;
  public_nexthop_ip4 192.168.10.1;

  route {
    id testroute1;
    net_cidr4 192.168.20.0/24;
    gw_ip4 203.0.113.2;
    preshared_key 91440DA06376A668AC4959A840A125D75FB544E8AA25A08B813E49F0A4B2E270;
  }

  route {
    id testroute2;
    net_cidr4 192.168.30.0/24;
    gw_ip4 203.0.113.3;
    preshared_key CF0BDD7A058BE55C12B7F2AA30D23FF01BDF8BE6571F2019ED7F7EBD3DA97B47;
  }

  sa_ttl 86400;
